<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="BasicHttpBinding_IAnalogInputService" />
				<binding name="BasicHttpBinding_IAnalogOutputService" />
				<binding name="BasicHttpBinding_IDigitalInputService" />
				<binding name="BasicHttpBinding_IDigitalOutputService" />
				<binding name="BasicHttpBinding_IUserService" />
			</basicHttpBinding>
			<wsDualHttpBinding>
				<binding name="WSDualHttpBinding_IScanService" />
				<binding name="WSDualHttpBinding_IScanService1" />
			</wsDualHttpBinding>
		</bindings>
		<client>
			<endpoint address="http://localhost:49980/Implementations/AnalogInputService.svc/AnalogInput"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAnalogInputService"
                contract="CoreAnalogInputRef.IAnalogInputService" name="BasicHttpBinding_IAnalogInputService" />
			<endpoint address="http://localhost:49980/Implementations/AnalogInputService.svc/AnalogInput-Scan"
                binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_IScanService"
                contract="CoreAnalogInputRef.IScanService" name="WSDualHttpBinding_IScanService">
				<identity>
					<userPrincipalName value="DESKTOP-TTNFD2L\ivanm" />
				</identity>
			</endpoint>
			<endpoint address="http://localhost:49980/Implementations/AnalogOutputService.svc/AnalogOutput"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAnalogOutputService"
                contract="CoreAnalogOutputRef.IAnalogOutputService" name="BasicHttpBinding_IAnalogOutputService" />
			<endpoint address="http://localhost:49980/Implementations/DigitalInputService.svc/DigitalInput"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDigitalInputService"
                contract="CoreDigitalInputRef.IDigitalInputService" name="BasicHttpBinding_IDigitalInputService" />
			<endpoint address="http://localhost:49980/Implementations/DigitalInputService.svc/DigitalInput-Scan"
                binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_IScanService1"
                contract="CoreDigitalInputRef.IScanService" name="WSDualHttpBinding_IScanService1">
				<identity>
					<userPrincipalName value="DESKTOP-TTNFD2L\ivanm" />
				</identity>
			</endpoint>
			<endpoint address="http://localhost:49980/Implementations/DigitalOutputService.svc/DigitalOutput"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDigitalOutputService"
                contract="CoreDigitalOutputRef.IDigitalOutputService" name="BasicHttpBinding_IDigitalOutputService" />
			<endpoint address="http://localhost:49980/Implementations/UserService.svc/User"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUserService"
                contract="CoreUserRef.IUserService" name="BasicHttpBinding_IUserService" />
		</client>
	</system.serviceModel>
</configuration>