<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IAnalogInputService" />
        <binding name="BasicHttpBinding_IDigitalInputService" />
      </basicHttpBinding>
      <wsDualHttpBinding>
        <binding name="WSDualHttpBinding_IScanService" />
        <binding name="WSDualHttpBinding_IScanService1" />
      </wsDualHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:49980/Implementations/AnalogInputService.svc/AnalogInput"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAnalogInputService"
        contract="AnalogInputService.IAnalogInputService" name="BasicHttpBinding_IAnalogInputService" />
      <endpoint address="http://localhost:49980/Implementations/AnalogInputService.svc/AnalogInput-Scan"
        binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_IScanService"
        contract="AnalogInputService.IScanService" name="WSDualHttpBinding_IScanService">
        <identity>
          <userPrincipalName value="DESKTOP-GI9D7GB\ivanvm" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:49980/Implementations/DigitalInputService.svc/DigitalInput"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDigitalInputService"
        contract="DigitalInputService.IDigitalInputService" name="BasicHttpBinding_IDigitalInputService" />
      <endpoint address="http://localhost:49980/Implementations/DigitalInputService.svc/DigitalInput-Scan"
        binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_IScanService1"
        contract="DigitalInputService.IScanService" name="WSDualHttpBinding_IScanService1">
        <identity>
          <userPrincipalName value="DESKTOP-GI9D7GB\ivanvm" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>